 .content-grid {
    display: grid;
    gap: 1rem;
  
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }
  
    @media (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr);
    }
  
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
  
  .card {
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    
    .price-con{
    display: flex;
    justify-content: space-between;
    align-items: start;
    }

    img {
      width: 100%;
       border-radius: 4px;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1/1.5;
    }
  
    h4 {
      margin: 0;
      font-size: 1rem;
    }
  
    p {
      margin: 0.25rem 0;
      font-size: 0.9rem;
    }
    .price{
        font-size: 1.5rem;
        color:#dbd6d6;
        font-weight:500;
    }
  }
  