.filter-panel {
  background-color: #1f1f1f;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
  .checkbox{
    display: flex;
    gap:1rem;
    margin:0;
    padding:0;
   }


  label {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    input[type="checkbox"] {
      appearance: none;
      width: 16px;
      height: 16px;
      border: 2px solid #555;
      background-color: #1f1f1f;
      border-radius: 3px;
      position: relative;
      cursor: pointer;

      &:checked {
        background-color: #244136;
        border-color: #244136;
      }

      &:checked::after {
        content: '';
        position: absolute;
        top: 2px;
        left: 5px;
        width: 4px;
        height: 8px;
        border: solid black;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }
  }

  .button{
    cursor: pointer;
    color:#fff
  }
}
