.search-bar {
  display: flex;
  align-items: center;
  background-color: #1f1e1e;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  input {
    flex: 1;
    background: transparent;
    border: none;
    color: #484848;
    font-size: 1rem;
    outline: none;
    padding: 0.5rem;

    &::placeholder {
      color: #484848;
      font-size: small;
    }
  }

  button {
    background: transparent;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;

  }
}
